body{
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navbar-brand{
    transition: 1s ease-in-out;
}
.navbar-brand:hover{
    transform: rotate(360deg);   
}
#pictures{
    margin-top: 70px;
}
.jumbotron{
    margin-top: 70px;
}
#contents{
    background-color: #343A40;
    width: auto;
    height: 50px;
}
.card-deck{
    margin-bottom: 20px;
    margin-top: 20px;
    /* #343A40 */
}
.card-img-top{
    transition: 1s ease-in-out;
}
.card-img-top:hover{
    transform: scale(0.9);
}
.social-menu{
    color: black
}