<!DOCTYPE html>
{% extends 'blog_application/base.html' %}
{% block body_block %}
    <h1 style="margin-top: 100px; font-size: 70px; text-align: center;" >My Little Story </h1>
    <h4 style="margin-top: 15px; text-align: justify; font-size: small;">It started in 2020 when I was thrown out of school for a mistake I made I wouldn't say the name of the school
         but my friends who see this story would understand what I'm talking about and when my very close relatives heard they were all 
         in shock, wondering how it happened cos they all knew me to be a very gentle person, I was in great shock when my parents showed me the message the school sent. 
         I could not tell my friends at home cos it was bad news. At that point i didn't know where to start from, it was as if the whole world had fallen on my head,
        I was just thinking where would I start from, 
         so my sister came up with the suggestion to go to Germany to start again and I was happy cos is
        "Germany" I'm going to, so my aunt and my uncle told me how will I start again after 5 years in the school. , two days after the incident my uncle came up with the suggestion that
         I will be forever grateful to him so he advised me to embark on a course on Udacity but Udacity was too expensive so I went for Udemy,
        he came up with the two courses I should embark on I was so surprised the courses he told me to do and those were the courses 
        I had always wanted to do which were Machine Learning and Web Development(using python).
        So one day my aunt was talking to me that I should take these courses seriously that God might just drop an idea that will change my life. So my mum paid for the courses
         and I started so i started making confessions that my programming skills would be good that it will solve problems and also visualize
         where you want to be with your programming skills and then after finishing the course I decided to do a blog 
        which you're all seeing now and work on an e-commerce website before embarking on a data science course next year using python.
        . If you think education limits you, my brother you are making a big mistake of your life cos the world is evolving around tech not going to school
         doesn't mean you are dull or you will never do well in life, speaking of which I was not doing well in school.so I devoted my time(doing research) and always be focused cos that is what matters in the IT world.
          The journey of self-taught programming is not Moi-Moi cos you will always have bugs that you will be wondering and be like God why me? you might want to give up,
           please don't give up just persevere cos you will eventually find a solution and is from there you will be getting good understanding and be able to tackle problems, 
           also when being a self-taught programmer you must look out for opportunities like <a target="_blank" href="https://www.freelancer.com">freelancer</a> 
           and register to take up petty jobs to build your portfolio and make some cash and many more other platforms. 
         As a programmer you need to develop the habits of reading documentation is something I'm not used to but I'm developing the habit.
         . if you like coding and you have been contemplating on should I or should I not?. please don't hesitate and start cos you might be the next Jobs. I'm not a motivational speaker I'm just telling you my little story. Don't let that mindset of "I didnt go to school" hold you down again. programming is very sweet. 
         If you have problems in your code check google, stack overflow is there to solve your problem, to be honest, there is no problem you will encounter that someone else has not encountered before, "a problem shared is a problem solved". Having a timeline will also help to keep you on track cos if you slack you will start to forget, 
         cos programming is not too hard at all but e hard small sha, once you understand the syntax o ti pari,so the only way to understand 
         the syntax is doing a lot of READING.
    </h4>
{% endblock %}