<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>SIRNUSI's BLOG</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'css/blogstyle.css' %}">
        <!-- JS, Popper.js, and jQuery -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
      </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" width="40" height="40" alt="Logo"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link"style="color:white;" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link"style="color:white;" href="{% url 'blogapp:politics' %}">Politics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" href="{% url 'blogapp:business' %}">Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"style="color:white;" href="{% url 'blogapp:technology' %}">Tech</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"style="color:white;" href="{% url 'blogapp:sports' %}">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"style="color:white;" href="{% url 'blogapp:entertainment' %}">Entertainment</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
            
            {% endblock %}
        </div>
        <section class="newsletter no-padding-top">    
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2>Subscribe to Newsletter</h2>
                  <p class="text-big">Do you want to get update from our blog to know the current happenings in Nigeria, don't
                    worry we gatch you covered in all areas Sports,Business etc. Just subscribe :) Danke
                  </p>
                </div>
                <div class="col-md-8">
                  <div class="form-holder">
                    <form action="#">
                      <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Type your email address">
                        <button type="submit" class="submit btn btn-dark btn-lg btn-block">Subscribe</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="main-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="logo">
                    <h6 class="text-white">SIRNUSI's Blog</h6>
                  </div>
                  <div class="contact-details">
                    <p>Lagos, Nigeria</p>
                    <p>Contact</p>
                    <p>Phone:  09065636501, 09066808667</p>
                    <p>Email: davidsanusi360@gmail.com,timilehinojobello@gmail.com</p>
                    <ul class="social-menu">
                      <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100009887508687"><i class="fa fa-facebook">Facebook</i></a></li>
                      <li class="list-inline-item"><a target="_blank" href="https://twitter.com/davidsanusi3"><i class="fa fa-twitter">Twitter</i></a></li>
                      <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sir_nusi_/"><i class="fa fa-instagram">Instagram</i></a></li>
                      <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/sanusi-david-4b93251a3/"><i class="fa fa-linkedin">LinkedIn</i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="menus d-flex">
                    <ul class="list-unstyled">
                      <li> <a href="{% url 'blogapp:aboutme' %}">About Me</a></li>
                      <li> <a href="#">Pricing</a></li>
                      <li> <a href="#">Privacy &amp; Policy</a></li>
                    </ul>
                    
                  </div>
                </div>
                <div class="col-md-4">
                  <h4>Trending</h4>
                  <div class="latest-posts"><a href="#">
                      <div class="post d-flex align-items-center">
                        <div class="title"><strong>Hotels for all budgets</strong><span class="date last-meta">October 26, 2016</span></div>
                      </div></a><a href="#">
                      <div class="post d-flex align-items-center">
                        <div class="title"><strong>Great street atrs in London</strong><span class="date last-meta">October 26, 2016</span></div>
                      </div></a><a href="#">
                      <div class="post d-flex align-items-center">
                        <div class="title"><strong>Best coffee shops in Sydney</strong><span class="date last-meta">October 26, 2016</span></div>
                      </div></a></div>
                </div>
              </div>
            </div>
            <div class="copyrights">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <p>&copy; 2020. All rights reserved. Your beautiful blog developed by Sanusi</p>
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>
