<!DOCTYPE html>
{% extends 'blog_application/base.html' %}

{% load static %}
{% block body_block %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/beach.jpg' %}" id="pictures" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">First slide label</h5>
        <p style="color: yellow;">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/candles.jpg' %}" id="pictures" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Second slide label</h5>
        <p style="color: yellow;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/beach.jpg' %}" id="pictures" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Third slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!--Latest Posts-->

<section class="latest-posts"> 
  <div class="container">
    <header> 
      <h2>Latest from the blog</h2>
      <p class="text-big">We have the latest posts from each categories</p>
    </header>
    <div class="row">
      {% if obj in latest %}
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="#"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ obj.timestamp }}</div>
            <div class="category">
              {% for cat in obj.categories.all %}
              <a href="#">{{cat}}</a>
              {% endfor %}
            </div>
          </div><a href="#">
            <h3 id="specialone" class="h4">{{obj.title}}</h3></a>
          <p class="text-muted">{{obj.overview}}</p>
        </div>
      </div>
    </div>
      {% endif %}
    </div>
  </div>
</section>

<section style="background-image: url(static/images/programming.jpg); background-size: cover; background-position: center;color: white;background-size: cover;" class="divider">
<div class="container">  
  <div class="row">
      <div class="col-md-7">
        <h2 style="color: lightblue;">This is the greatest path I ever took, becoming a Programmer. 
        Let me tell you my story to give you a bit of encouragement. It is a path you take that you will never regret, just devote your time and be FOCUS. </h2><a href="{% url 'blogapp:aboutme' %}" class="hero-link">Read my story</a>
      </div>
    </div>
</div>
</section>


<!--Articles For the Blg-->
<div class="container">
  <hr>
  <h2>Articles from TIM-TIM</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/coffee1.jpg' %}"><h5>Woman who had a blur vision and was able to see both far and near objects</h5></a></div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/coffee2.jpg' %}"><h5>A Guy's date, why it should not go bad</h5></a></div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/coffee3.jpg' %}"><h5>Story to Read, very catching I promise you this one</h5></a></div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/coffee4.jpg' %}"><h5>Taken out and she messed up</h5></a></div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/coffee5.jpg' %}"><h5>Your cousin fought her ex on his behalf</h5></a></div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumbnail"><a style="color: black;" href="#"><img class="img-thumbnail img-fluid" src="{% static 'images/computer.jpg' %}"><h5>10 Programming Secrets for Self-taught programmers</h5></a></div>
  </div>
</div>
 
{% endblock %}
