<!DOCTYPE html>
{% extends "blog_application/base.html" %}
{% load static %}
{% block body_block %}
    <div class="jumbotron" >
        <h1 class="display-3">News on COVID-19</h1>
        <p class="lead">
        Nigeria has been lying to us 
        concerning COVID-19 new cases. They should show us pictures
        of the new patients they are discovering everyday.</p>
        <hr class="m-y-2">
        <p>NCDC let us know what is going on</p>
        <p class="lead">
          <a class="btn btn-outline-danger btn-lg" href="#" type="button">Read More</a>
        </p>
    </div>
    
{% endblock %}